@{
    ViewData["Title"] = "O nas";
}
<div class="container mt-5 mb-5">
    <div class="row align-items-center">

        <div class="col-lg-6 logo-main-container">
            <img src="~/images/logo.png" alt="Glam Studio Logo Główne" class="img-fluid" />
        </div>

        <div class="col-lg-6">
            <div class="contact-form-wrapper">
                <h3>O nas</h3>
                <p>W GlamStudio wierzymy, że piękno to nie tylko wygląd – to także samopoczucie, pewność siebie i chwila relaksu tylko dla Ciebie. Nasz salon powstał z pasji do estetyki i dbałości o każdy detal, abyś mogła poczuć się wyjątkowo od pierwszego kroku do naszych drzwi.</p>

                <p>Specjalizujemy się w profesjonalnych usługach kosmetycznych i fryzjerskich, które łączą nowoczesne trendy z ponadczasową elegancją. W naszej pracy stawiamy na najwyższą jakość, indywidualne podejście oraz przyjazną atmosferę, dzięki której każda wizyta staje się chwilą przyjemności.</p>

                <p>Symbol kwiatu wiśni, który zdobi nasze logo, jest dla nas inspiracją – przypomina o delikatności, naturalnym pięknie i harmonii, które pragniemy podkreślać w Tobie każdego dnia.</p>

                <p><strong>Zapraszamy do GlamStudio – miejsca, gdzie Twoje piękno rozkwita.</strong></p>
            </div>
        </div>

    </div>
</div>